@charset "UTF-8";
/* 메뉴
------------------------------*/
#main_logo{
	padding-top:20px;
}
#main_nav{
	padding:2px 10px 20px 10px;
	height:20px;
	background-color:#C1BFBF;
}
#main_nav ul{
	list-style:none;
	margin:0;
	padding:0;
}
#main_nav ul li{
	display:inline-block;
	width:100px;
	text-align:center;
	vertical-align:middle;
	padding-top:8px;
}
#main_nav ul li img.my-photo{
	vertical-align:middle;
}
#main_nav ul li.menu-profile{
	padding-top:5px;
	width:25px;
}
#main_nav ul li.menu-logout{
	width:150px;
	text-align:left;
}

/*---------별점 시작----------*/
.rating_box {
	display: flex;
}

.rating {
	position: relative;
	color: #ddd;
	font-size: 30px;
	text-align: center;
}

.under_rating {
	position: relative;
	color: #ddd;
	font-size: 30px;
	text-align: center;
}

.star-rating {
	width: 304px;
}

.star-rating, .star-rating span {
	display: inline-block;
	height: 27px;
	overflow: hidden;
	background: url('/petmama/images/petsitter/star_.png') no-repeat;
}

.star-rating span {
	background-position: left bottom;
	line-height: 0;
	vertical-align: top;
}

.rating_number {
	margin-left: -141px;
	margin-top: 8px;
}
/* 공통 정렬
*/
body{
	margin: 0;
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-variant: tabular-nums;
    line-height: 1.5;
    background-color: #fff;
    -webkit-font-feature-settings: 'tnum';
    font-feature-settings: 'tnum';
}
:root {
    --swiper-theme-color: #007aff;
}

