@charset "UTF-8";
/*--------펫시터 리스트 시작-----------*/
.page_list {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 45px;
	background-color: #F7F8FA;
}

.bg_img {
	width: 433px;
	height: 254px;
	border-radius: 3px;
	object-fit: cover;
	position: relative;
	margin-left: 10px;
}

.content-top {
	display: flex;
	margin-top: 55px;
}

.content {
	width: 1000px;
	height: 274px;
	border: 1px solid #EBEBEB;
	display: flex;
	box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.07);
	border-radius: 8px;
	position: relative;
	align-items: center;
	background-color: white;
}

.profile {
	padding: 38px 45px 0 45px;
	height: 100%;
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.profile_header {
	width: 100%;
	display: flex;
	flex-direction: row;
	border-bottom: 1px solid #EBEBEB;
	padding-bottom: 18px;
}

.profile p {
	font-size: 13px;
	letter-spacing: -0.2px;
	font-weight: 500;
	color: #777777;
	line-height: 15px;
}

.profile h2 {
	font-size: 19px;
	letter-spacing: -0.2px;
	font-weight: 500;
	color: #393C47;
	margin-top: 8px;
	line-height: 29px;
}

.profile_img {
	width: 70px;
	height: 70px;
	border-radius: 45px;
	margin-left: 45px;
}

.profile_body {
	display: flex;
	width: 100%;
	margin-top: 12px;
}

.profile_body span {
	font-size: 13px;
	color: #999999;
	letter-spacing: -0.2px;
	line-height: 21px;
}

.profile_foot {
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: flex-end;
	padding-bottom: 28px;
}

.rate_reviewNum {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.rate_reviewNum p {
	/* font-family: Noto Sans KR; */
	font-size: 12px;
	line-height: 18px;
	color: #5E636D;
	letter-spacing: -0.2px;
	width: 100%;
}

/*---------별점 시작----------*/
.rating_box {
	display: flex;
	margin-top: 9px;
}

.rating {
	position: relative;
	color: #ddd;
	font-size: 30px;
	text-align: center;
}

.under_rating {
	position: relative;
	color: #ddd;
	font-size: 30px;
	text-align: center;
}

.star-rating {
	width: 304px;
}

.star-rating, .star-rating span {
	display: inline-block;
	height: 27px;
	overflow: hidden;
	background: url('/petmama/images/petsitter/star_.png') no-repeat;
}

.star-rating span {
	background-position: left bottom;
	line-height: 0;
	vertical-align: top;
}

.rating_number {
	margin-left: -141px;
	margin-top: 8px;
}

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

/*---------별점 끝----------*/
/*--------펫시터 리스트 끝-----------*/