@charset "UTF-8";
/*--------펫시터 리스트 시작-----------*/
.page_list {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 45px;
	background-color: #F7F8FA;
}

.bg_img {
	width: 433px;
	height: 254px;
	border-radius: 3px;
	object-fit: cover;
	position: relative;
	margin-left: 10px;
}

.content-top {
	display: flex;
	margin-top: 55px;
}

.content-top:last-of-type {
	margin-bottom: 55px;
}

.content {
	width: 1000px;
	height: 274px;
	border: 1px solid #EBEBEB;
	display: flex;
	box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.07);
	border-radius: 8px;
	position: relative;
	align-items: center;
	background-color: white;
}

.profile {
	padding: 38px 45px 0 45px;
	height: 100%;
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.profile_header {
	width: 100%;
	display: flex;
	flex-direction: row;
	border-bottom: 1px solid #EBEBEB;
	padding-bottom: 18px;
}

.profile p {
	font-size: 13px;
	letter-spacing: -0.2px;
	font-weight: 500;
	color: #777777;
	line-height: 15px;
}

.profile h2 {
	font-size: 19px;
	letter-spacing: -0.2px;
	font-weight: 500;
	color: #393C47;
	margin-top: 8px;
	line-height: 29px;
}

.profile_img {
	width: 70px;
	height: 70px;
	border-radius: 45px;
	margin-left: 45px;
}

.profile_body {
	display: flex;
	width: 100%;
	margin-top: 12px;
}

.profile_body span {
	font-size: 13px;
	color: #999999;
	letter-spacing: -0.2px;
	line-height: 21px;
}

.profile_foot {
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: flex-end;
}

.rate_reviewNum {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.rate_reviewNum p {
	/* font-family: Noto Sans KR; */
	font-size: 12px;
	line-height: 18px;
	color: #5E636D;
	letter-spacing: -0.2px;
	width: 100%;
}

/*---------별점 시작----------*/
.rating_box {
	display: flex;
	margin-top: 9px;
}

.rating {
	position: relative;
	color: #ddd;
	font-size: 30px;
	text-align: center;
}

.under_rating {
	position: relative;
	color: #ddd;
	font-size: 30px;
	text-align: center;
}

.star-rating {
	width: 304px;
}

.star-rating, .star-rating span {
	display: inline-block;
	height: 27px;
	overflow: hidden;
	background: url('/petmama/images/petsitter/star_.png') no-repeat;
}

.star-rating span {
	background-position: left bottom;
	line-height: 0;
	vertical-align: top;
}

.rating_number {
	margin-left: -141px;
	margin-top: 8px;
}

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

/*---------별점 끝----------*/
/*--------펫시터 리스트 끝-----------*/

/*시간 swiper 시작*/
h1, p {
	text-align: center;
}

.input-wrapper {
	text-align: center;
}

input {
	font-size: 1.5rem;
	text-align: center;
}

#datepicker {
	margin:17px 175px;
	margin-bottom: 50px;
}

.picker {
	box-sizing: border-box;
	position: relative;
	width: 300px;
	overflow: hidden;
	margin: 1rem auto 0;
	outline: 1px solid #ccc;
	padding: 0 30px;
	background-color: #fff;
	color: #252525;
}

.swiper-container {
	width: 80px;
	height: 210px;
	float: left;
}

.swiper-slide {
	text-align: center;
	font-size: 2rem;
	/* Center slide text vertically */
	display: flex;
	justify-content: center;
	align-items: center;
	user-select: none;
	opacity: 0.25;
	transition: opacity 0.3s ease;
	cursor: default;
	font-weight: bold;
	-webkit-tap-highlight-color: transparent;
}

.swiper-slide-prev, .swiper-slide-next {
	cursor: pointer;
}

.swiper-slide-active {
	opacity: 1;
}

.vizor {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	height: 70px;
	position: absolute;
	top: 50%;
	left: 1rem;
	right: 1rem;
	transform: translateY(-50%);
	font-size: 2rem;
	line-height: 62px;
}

.vizor:before, .vizor:after {
	content: ':';
	display: inline-block;
	line-height: inherit;
	height: 100%;
	position: absolute;
	top: 0;
	transform: translateX(-50%);
}

.vizor:before {
	left: 95px;
}

.vizor:after {
	left: 175px;
}

.arrows .swiper-container:after, .arrows .swiper-container:before {
	content: "";
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 4px;
	border-color: transparent;
	opacity: 0.5;
}

.arrows .swiper-container:before {
	top: 0.5rem;
	border-top-width: 0;
	border-bottom-color: currentColor;
}

.arrows .swiper-container:after {
	bottom: 0.5rem;
	border-bottom-width: 0;
	border-top-color: currentColor;
}

.circle {
	margin-left:7;
	width: 80px;
	height:80px;
	border-radius: 50%;
	color:darkgray;
	text-align:center;
	line-height:5;
	border:1px solid darkgray;
	background-color: white;
	margin-bottom:50px;
}

.circle.active {
	color:white;
	border:1px solid white;
	background-color: #6A92FE;
}

.circle p {
	font-size:13px;
	margin: -18px;
	color:darkgray;
}

.time_fee {
	display: flex;
	justify-content: center;
	margin-top:50px;
	margin-bottom:30px;
	gap:7px;
}

.time-picker {
	margin-bottom:50px;
}
/*시간 swiper 끝*/

/*펫시터 지원서 시작*/
.application {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}
.head{
    width: 1000px;
    margin: 0px auto;
}
.head h2{
	margin-top: 168px;
    margin-bottom: 101px;
    font-size: 50px;
    font-weight: 600;
    color: #555555;
}
.main {
	background-color: #FAFAFB;
}
.head_section {
	width: 1000px;
    margin: 0px auto;
}

.head_section p{
	margin-top: 87px;
    font-size: 27px;
    font-weight: 600;
    color: #555555;
    text-align:left;
}

.main_section {
	background-color: white;
    border: 1px solid #EBEBEB;
    border-radius: 12px;
    padding: 75px 80px 80px 80px;
    margin-top: 46px;
}
.article {
	display: flex;
    align-items: center
}
.article p{
	font-size: 17px;
    font-weight: 600;
    color: #555555;
}
.article input{
	width: 100%;
    height: 58px;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    padding: 20px;
    font-size: 15px;
    color: #333333;
}
.article_content{
	display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 0;
    margin-right: 24px;
    
    margin-top: 0;
    margin-bottom: 0;
}
/*펫시터 지원서 끝*/